name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - next
      - beta
      - alpha
  push:
    branches:
      - main
      - next
      - beta
      - alpha

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-js
      - name: Test library
        run: npm test

  release:
    needs: test
    if: github.event_name == 'push'
    permissions:
      contents: write
      id-token: write
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: ./.github/actions/setup-js
      - name: Build
        run: npm run build
      - name: Create .releaserc from template
        run: cp .github/releaserc-template.json ./.releaserc
      - uses: ./.github/actions/semantic-release
        with:
          working-directory: "."
          tag-format: "osddt-v${version}"
          github-token: ${{ secrets.GITHUB_TOKEN }}
